<h2 class="home-main-blocCategory__h2">Catégories</h2>
<ul
        class="home-main-category__ul">
    <li class="home-main-categoryList">
        <a
                class="home-main-categoryList__a"
                data-th-href="@{/}">Catalogue complet</a>
    </li>
    <li class="home-main-categoryList">
        <a
                class="home-main-categoryList__a"
                data-th-href="@{/promotion}">
            Promotions
        </a>

    </li>
    <li
            class="home-main-categoryList"
            th:each="category:${categoryList}">
        <a
                class="home-main-categoryList__a"
                data-th-href="@{${category.id}}"
                th:text="${category.name}">
        </a>
    </li>
</ul>