<section
        class="main-adminMenu-section">
    <ul
            class="main-adminMenu-ul">
        <li
                class="main-adminMenu-li">
            <a
                    class="main-adminMenu-a"
                    data-th-href="@{/admin/category}">Gérer les catégories</a>
        </li>
        <li
                class="main-adminMenu-li">
            <a
                    class="main-adminMenu-a"
                    data-th-href="@{/admin/product/add}">Nouveau produit</a>
        </li>
        <li
                class="main-adminMenu-li">
            <a
                    class="main-adminMenu-a"
                    data-th-href="@{/admin/product}">Gérer les produits</a>
        </li>
    </ul>



</section>