<div>
    <form
            action="#"
            th:action="@{/api/category/post}"
            th:object="${newCategory}"
            method="post"
            class="category-form"
    >

        <label
                class="category-form-label"
                for="name">Ajouter une catégorie :
        </label>
        <input
                class="category-form-input"
                type="text"
                name="name"
                id="name"
                placeholder="nom"
                th:field="*{name}">
        <button
                class="category-form-input"
                type="submit">Créer</button>
    </form>


    <ul
            class="category-list-ul">
        <div
                th:each="category:${categoryList}">
            <div class="category-list-li">
                <p
                        class="category-list-p"
                        th:text="${category.name}">category
                </p>
                <a
                        id="category-update-name"
                        class="category-list-a edit-button"
                        th:attr="update-cetegory-id=${category.id}">
                    Modifier
                </a>
                <a
                        class="category-list-a delete-button"
                        th:href="@{/api/category/delete/{id}(id=${category.id})}">
                    Supprimer
                </a>
            </div>
            <div
                    class="category-update-div"
                    th:id="'category-update-form'+${category.id}">

            </div>
        </div>

    </ul>

</div>