<div>
    <form
            action="#"
            th:action="@{/api/category/post}"
            th:object="${newCategory}"
            method="post"
            class="category-form"
    >
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <label
                class="category-form-label"
                for="name">Ajouter une catégorie :
        </label>
        <input
                class="category-form-input"
                type="text"
                name="name"
                id="name"
                placeholder="nom"
                maxlength="50"
                th:field="*{name}"
                required>
        <button
                class="category-form-input"
                type="submit">Créer</button>
    </form>

    <div th:if="${errorMessage}" class="error-message">
        <span th:text="${errorMessage}"></span>
    </div>

    <div th:if="${errorUpdateMessage}" class="error-message">
        <span th:text="${errorUpdateMessage}"></span>
    </div>
    <ul
            class="category-list-ul">
        <div
                th:each="category:${categoryList}">
            <div class="category-list-li">
                <p
                        class="category-list-p"
                        th:text="${category.name}">category
                </p>
                <a
                        id="category-update-name"
                        class="category-list-a edit-button"
                        th:attr="update-cetegory-id=${category.id}">
                    Modifier
                </a>
                <a
                        th:attr="delete-category-attr=${category.id}"
                        class="category-list-a delete-button"
                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ? Attention, si la catégorie contient des produits, ils seront supprimés également.')"
                        th:href="@{/api/category/delete/{id}(id=${category.id})}">
                    Supprimer
                </a>
            </div>
            <div
                    class="category-update-div"
                    th:id="'category-update-form'+${category.id}">

            </div>

    </ul>

</div>