<form action="#"
          th:action="@{/api/product/post}"
          th:object="${product}"
          method="post"
          class="product-form">
    <h2
            class="product-form-title">Nouveau produit
    </h2>

        <input type="hidden" th:field="*{id}" />

        <label
                class="product-form-label"
                for="name">Nom</label>
        <input
                class="product-form-input"
                type="text"
                id="name"
                placeholder="nom"
                th:field="*{name}">

        <label
                class="product-form-label"
                for="description">Description</label>
        <textarea
                rows="5"
                cols="25"
                class="product-form-input"
                type="text"
                id="description"
                placeholder="description"
                th:field="*{description}">
        </textarea>

        <label
                class="product-form-label"
                for="price">Prix</label>
        <input
                class="product-form-input"
                type="text"
               id="price"
               placeholder="prix"
               th:field="*{price}">

        <label
                class="product-form-label"
                for="category">Catégorie</label>

        <select
                class="product-form-label"
                name="category"
                id="category"
                th:field="*{category}">
            <option
                    th:each="productCategory:${categoryList}"
                    th:value="${productCategory.id}"
                    th:text="${productCategory.name}">
            </option>
        </select>
        <input
                class="product-form-submit"
                type="submit"
                value="Enregistrer">
    </form>
