<a
        class="promotion-main-buttonBack"
        data-th-href="@{/admin/product}">Revenir à la gestion des articles
</a>
<form
        class="promotion-form"
        action="#"
          th:action="@{/api/promotion/post/{id}(id = ${product.id})}"
          th:object="${promotion}"
          method="post">

        <h2
                class="promotion-form-title">Nouvelle promotion
        </h2>
        <input type="hidden" th:field="*{id}" >
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />

        <label
                class="promotion-form-label"
                for="percentage">Pourcentage de remise
        </label>
        <input
                class="promotion-form-input"
                type="number"
                name="percentage"
                id="percentage"
                min="1"
                max="100"
                required
                th:field="*{percentage}">
        <div th:if="${errorMessage}" class="error-message">
                <span th:text="${errorMessage}"></span>
        </div>
        <label
                class="promotion-form-label"
                for="beginDate">Date de début</label>
        <input
                class="promotion-form-input"
                type="date"
                name="dateEnd"
                required
                id="beginDate">

        <label
                class="promotion-form-label"
                for="endDate">Date de fin</label>
        <input
                class="promotion-form-input"
                type="date"
                name="dateBegin"
                required
                id="endDate">

        <input
                class="promotion-form-submit"
                type="submit"
                value="Enregistrer">
    </form>
