<a
        class="product-main-buttonBack"
        data-th-href="@{/admin/product}">Revenir à la gestion des articles
</a>

<form action="#"
          th:action="@{/api/product/put/{id}(id=${product.id})}"
          th:object="${product}"
          method="post"
          class="product-form">
        <h2
                class="product-form-title">Mettre à jour le produit
        </h2>

        <input type="hidden" th:field="*{id}" />

        <label
                class="product-form-label"
                for="name">Nom</label>
        <input
                class="product-form-input"
                type="text"
               id="name"
               th:field="*{name}"
               th:value="${product.name}">

        <label
                class="product-form-label"
                for="description">Description</label>
        <textarea
                rows="5"
                cols="25"
                class="product-form-input"
                type="text"
                id="description"
                th:field="*{description}"
                th:value="${product.description}">

        </textarea>

        <label
                class="product-form-label"
                for="price">Prix</label>
        <input
                class="product-form-input"
                type="text"
               id="price"
               th:field="*{price}"
               th:value="${product.price}">

        <label
                class="product-form-label"
                for="category">Catégorie</label>
        <select
                class="product-form-label"
                name="category"
                id="category"
                th:field="*{category}">
            <option
                    th:each="productCategory:${categoryList}"
                    th:value="${productCategory.id}"
                    th:text="${productCategory.name}">
            </option>
        </select>

        <label
                class="product-form-label"
                for="image">Image de l'article</label>
        <select
                class="product-form-label"
                name="image"
                id="image"
                th:field="*{imageLink}">
                <option value="../../../../images/product/boissons.jpg">Boisson</option>
                <option value="../../../../images/product/fruits-et-legumes.jpg">Fruit et légumes</option>
                <option value="../../../../images/product/hygiene.jpg">Hygiène</option>
                <option value="../../../../images/product/paquet-pates.jpg">Paquet de pates</option>
        </select>

        <input
                class="product-form-submit"
                type="submit"
                value="Enregistrer">
    </form>