<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link data-th-href="@{/styles/style.css}" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header
        th:insert="components/general/header.html">
</header>
<main
        class="home-main">
    <section
            class="home-main-blocCategory"
            th:insert="components/home/categoryMenu.html"></section>
    <section
            class="home-main-productSection"
            th:insert="components/home/getPromotion.html"></section>
</main>

<footer
        th:insert="components/general/footer">
</footer>


</body>
</html>