/* General style*/
body
  background-color: lightgray

.success-message
  display: flex
  justify-content: center
  font-size: 1.4rem

.success-message-span
  background-color: lightgreen
  padding: 10px

.error-message
  display: flex
  justify-content: center
  color: red



/* Color */

$color-mercadona: #009660

$color-mercadona-logo: rgba(255, 161, 0, 0.62)


