/* General style*/
body {
  background-color: lightgray;
}

.success-message {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.success-message-span {
  background-color: lightgreen;
  padding: 10px;
}

.error-message {
  display: flex;
  justify-content: center;
  color: red;
}

/* Color */
/* Mixins */
/* Home Page */
/* login and product form */
.header-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.header-admin-nav {
  display: flex;
  justify-content: space-around;
}

.logo-header-div {
  display: flex;
  justify-content: center;
}

.logo-header-img {
  margin: 10px;
  width: 90vw;
}
@media screen and (min-width: 500px) {
  .logo-header-img {
    width: 75vw;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 700px) {
  .header-admin-nav {
    margin: auto;
    width: 80vw;
  }
}

.header-admin-a {
  text-decoration: none;
  color: lightgray;
  font-weight: bold;
  background-color: #009660;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header-admin-a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1025px) {
  .header-admin-a {
    font-size: 2rem;
  }
}

footer {
  display: flex;
  justify-content: center;
}

.footer-div {
  display: flex;
  justify-content: space-around;
}

.footer-button-admin {
  margin: auto;
  margin-right: 10px;
}

.home-main-blocCategory {
  background-color: darkgray;
  width: 30vw;
  border-radius: 5px;
  align-self: flex-start;
}
@media screen and (min-width: 500px) and (max-width: 620px) {
  .home-main-blocCategory {
    width: 30vw;
  }
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .home-main-blocCategory {
    width: 25vw;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .home-main-blocCategory {
    width: 20vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .home-main-blocCategory {
    width: 15vw;
  }
}
@media screen and (min-width: 1501px) {
  .home-main-blocCategory {
    width: 13vw;
  }
}

.home-main-blocCategory__h2 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
@media screen and (min-width: 450px) and (max-width: 900px) {
  .home-main-blocCategory__h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 900px) {
  .home-main-blocCategory__h2 {
    font-size: 1.9rem;
  }
}

.home-main-categoryList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.home-main-categoryList__a, .home-main-categoryList__a-catalogue, .home-main-categoryList__a-promotion {
  margin-bottom: 8px;
  color: brown;
  font-size: 1rem;
}
@media screen and (min-width: 450px) and (max-width: 900px) {
  .home-main-categoryList__a, .home-main-categoryList__a-catalogue, .home-main-categoryList__a-promotion {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 900px) {
  .home-main-categoryList__a, .home-main-categoryList__a-catalogue, .home-main-categoryList__a-promotion {
    font-size: 1.6rem;
  }
}

.home-main-category__ul {
  width: 100%;
  padding: 0;
}

.home-main-productSection {
  background-color: rgba(255, 161, 0, 0.62);
  min-height: 75vh;
  display: flex;
  border-radius: 5px;
  width: 60vw;
  flex-wrap: wrap;
}
@media screen and (min-width: 500px) and (max-width: 620px) {
  .home-main-productSection {
    width: 60vw;
  }
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .home-main-productSection {
    width: 65vw;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .home-main-productSection {
    width: 70vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .home-main-productSection {
    width: 75vw;
  }
}
@media screen and (min-width: 1501px) {
  .home-main-productSection {
    width: 80vw;
  }
}

.home-main-productCard {
  width: 85%;
  margin: auto;
  background-color: #009660;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .home-main-productCard {
    width: 40%;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .home-main-productCard {
    width: 30%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .home-main-productCard {
    width: 22%;
  }
}
@media screen and (min-width: 1501px) {
  .home-main-productCard {
    width: 18%;
  }
}

.productCard-image {
  width: 95%;
  margin-top: 5px;
  height: 150px;
}

.productCard-price-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.productCard-name, .productCard-price-p {
  font-size: 1.5rem;
  margin: 8px;
}

.productCard-price-noPromo, .productCard-pricePromo-p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 12px;
}

.productCard-price-noPromo {
  font-weight: bold;
}

.productCard-description {
  font-size: 1.2rem;
  margin: 10px;
}

.productCard-pricePromo-p {
  color: red;
  font-weight: bold;
}

.productCard-price-p {
  text-decoration: line-through;
  margin-top: 0;
}

.productCard-date {
  font-size: 1.2rem;
  margin-top: 0;
}

.productCard-date-begin, .productCard-date-end {
  font-size: 1.3rem;
  font-weight: bold;
}

.home-main {
  display: flex;
  justify-content: space-around;
}

.main-adminMenu-section {
  margin-top: 5vh;
  margin-bottom: 7vh;
}

.main-adminMenu-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  padding: 0;
  background-color: #009660;
  width: 75vw;
  margin: auto;
  border-radius: 5px;
}
@media screen and (min-width: 1040px) {
  .main-adminMenu-ul {
    width: 55vw;
  }
}

.main-adminMenu-li {
  list-style: none;
}

.main-adminMenu-a {
  background-color: darkgray;
  border-radius: 8px;
  padding: 10px;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .main-adminMenu-a {
    font-size: 2.5rem;
  }
}

.adminProduct-main-blocCategory {
  background-color: darkgray;
  width: 30vw;
  border-radius: 5px;
  align-self: flex-start;
}
@media screen and (min-width: 500px) and (max-width: 620px) {
  .adminProduct-main-blocCategory {
    width: 30vw;
  }
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .adminProduct-main-blocCategory {
    width: 25vw;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .adminProduct-main-blocCategory {
    width: 20vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .adminProduct-main-blocCategory {
    width: 15vw;
  }
}
@media screen and (min-width: 1501px) {
  .adminProduct-main-blocCategory {
    width: 13vw;
  }
}

.main-productManagement-links {
  display: flex;
  flex-direction: column;
}

.adminProduct-main-productSection {
  background-color: rgba(255, 161, 0, 0.62);
  min-height: 75vh;
  display: flex;
  border-radius: 5px;
  width: 60vw;
  flex-wrap: wrap;
}
@media screen and (min-width: 500px) and (max-width: 620px) {
  .adminProduct-main-productSection {
    width: 60vw;
  }
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .adminProduct-main-productSection {
    width: 65vw;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .adminProduct-main-productSection {
    width: 70vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .adminProduct-main-productSection {
    width: 75vw;
  }
}
@media screen and (min-width: 1501px) {
  .adminProduct-main-productSection {
    width: 80vw;
  }
}

.productManagement-main-productCard {
  width: 85%;
  margin: auto;
  background-color: #009660;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .productManagement-main-productCard {
    width: 40%;
  }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .productManagement-main-productCard {
    width: 30%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .productManagement-main-productCard {
    width: 22%;
  }
}
@media screen and (min-width: 1501px) {
  .productManagement-main-productCard {
    width: 18%;
  }
}

.productCard-date {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-productManagement-a {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  margin: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
}

.adminProduct-main {
  display: flex;
  justify-content: space-around;
}

.login-header {
  margin-bottom: 7vh;
}

.login-main-buttonBack {
  background-color: darkgray;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px;
  color: black;
  border-radius: 5px;
}

.login-main-title {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
}

.login-main-form {
  background-color: #009660;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  margin: auto;
  border-radius: 8px;
  margin-top: 15vh;
  margin-bottom: 20vh;
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .login-main-form {
    width: 75%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1130px) {
  .login-main-form {
    width: 50%;
  }
}
@media screen and (min-width: 1131px) {
  .login-main-form {
    width: 30%;
  }
}

.loginForm-main-label {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}

.loginForm-main-input {
  font-size: 1.3rem;
}

.loginForm-main-submit {
  font-size: 1.4rem;
}

.product-form {
  background-color: #009660;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  margin: auto;
  border-radius: 8px;
  margin-top: 4vh;
  margin-bottom: 20vh;
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .product-form {
    width: 75%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1130px) {
  .product-form {
    width: 50%;
  }
}
@media screen and (min-width: 1131px) {
  .product-form {
    width: 30%;
  }
}

.product-form-title {
  font-size: 2.4rem;
}

.product-form-label {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}

.product-form-input {
  font-size: 1.3rem;
}

.product-form-submit {
  font-size: 1.4rem;
}

.product-main-buttonBack {
  background-color: darkgray;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px;
  color: black;
  border-radius: 5px;
}

.promotion-form {
  background-color: #009660;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  margin: auto;
  border-radius: 8px;
  margin-top: 5vh;
  margin-bottom: 10vh;
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .promotion-form {
    width: 75%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1130px) {
  .promotion-form {
    width: 50%;
  }
}
@media screen and (min-width: 1131px) {
  .promotion-form {
    width: 30%;
  }
}

.promotion-form-title {
  font-size: 2.4rem;
}

.promotion-form-label {
  font-size: 1.5rem;
  margin-bottom: 1vh;
  margin-top: 1.2vh;
}

.promotion-form-input {
  font-size: 1.3rem;
}

.promotion-form-submit {
  font-size: 1.4rem;
  margin-top: 3vh;
}

.promotion-main-buttonBack {
  background-color: darkgray;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px;
  color: black;
  border-radius: 5px;
}

.category-form {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin: auto;
  border-radius: 8px;
}
@media screen and (min-width: 600px) and (max-width: 950px) {
  .category-form {
    width: 60vw;
  }
}
@media screen and (min-width: 951px) and (max-width: 1519px) {
  .category-form {
    width: 40vw;
  }
}
@media screen and (min-width: 1520px) {
  .category-form {
    width: 20vw;
  }
}

.category-form-label, .category-form-input, .promotion-form-submit {
  font-size: 1.4rem;
  margin-bottom: 1vh;
}

.category-list-ul {
  margin-bottom: 25vh;
}

.category-list-li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: #009660;
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .category-list-li {
    width: 75vw;
  }
}
@media screen and (min-width: 1200px) {
  .category-list-li {
    width: 50vw;
    font-size: 2rem;
  }
}

.category-list-a {
  text-decoration: none;
  color: lightgray;
  padding: 5px;
  border-radius: 5px;
}

.edit-button {
  background-color: darkgreen;
}

.delete-button {
  background-color: brown;
}

.category-list-p {
  margin: 0;
  color: lightgray;
}

.category-update-div {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
